@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <section class="main-content">
        @RenderBody()
    </section>
    <footer></footer>
</body>
</html>