@model MovieViewModel
@{
    ViewBag.Title = "Page to edit movie";
}

<div>
    <h4>Edit movie</h4>
    <div><a asp-action="Index">Go Back</a></div>

    <form method="post">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name"/>
        <label asp-for="Genre">Genre</label>
        <input type="text" asp-for="Genre"/>
        <input type="submit" />
    </form>
</div>
