@*
    Main page
*@
@{
    ViewBag.Title = "Welcome to Movie App";
}

<a asp-action="About">About Us</a>

<ul>
    <li><a asp-action="Edit">Harry Potter</a></li>
    <li><a asp-action="Edit">Her</a></li>
    <li><a asp-action="Edit">Dan in the real life</a></li>
</ul>
